.Notifications {
    border: 1px solid red;
    padding: 10px;
    border: 2px dotted red;
    margin: 10px;
}
button > img {
    width: 20px;
    height: 20px;
}
li[data-notification-type='default'] {
    color: red;
}
li[data-notification-type='urgent'] {
    color: blue;
}
li {
    color: red;
}