.App-header {
  display: flex;
  border-bottom: 3px solid red;
  color: red;
  align-items: center;
  justify-content: flex-start;
}

.App-body {
  padding: 30px;
}
.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px solid red;
}
.App-footer > p {
  width: 100%;
  text-align: center;
}